/* line 1, istabs.scss */
.is-tabs-nav {
  display: block;
  overflow: hidden;
  background: #eee;
  margin-bottom: 15px;
}

/* line 8, istabs.scss */
.is-tabs-link {
  display: block;
  float: left;
  padding: 10px 20px;
  border-left: 1px solid #fff;
  color: #000;
  transition: background .2s 0s;
}
/* line 15, istabs.scss */
.is-tabs-link:first-child {
  border-left: 0;
}
/* line 18, istabs.scss */
.is-tabs-link:hover {
  background: #ccc;
}
/* line 21, istabs.scss */
.is-tabs-link.active {
  background: #666;
  color: #fff;
  text-decoration: none;
}

/* line 29, istabs.scss */
.is-tabs-container {
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
}

/* line 36, istabs.scss */
.is-tabs-wrapper {
  display: block;
  position: relative;
}
/* line 39, istabs.scss */
.is-tabs-wrapper:after {
  content: '';
  display: block;
  height: 1px;
}

/* line 46, istabs.scss */
.is-tabs-tab {
  display: none;
}
/* line 48, istabs.scss */
.is-tabs-tab:first-child {
  display: block;
}
